html {
    background-image: url(design/teglafal.jpg);
}

body {
    background-image: url(design/teglafal.jpg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px white;
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(33, 33, 33);
    margin-top: 20px;

    
}

header {
    background-image: url(design/beer-new_401732638.jpg);
    background-size: cover;
    height: 300px;

}

header h1{
    font-weight: bold;
    font-family: Garamond;
    font-size: 32px;
    letter-spacing: 4px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;

}

nav {
    grid-area: n;

}

nav ul {
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li {
    list-style-type: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 4px;
}

nav ul a {
    text-decoration: none;
    color: red;
}

nav ul a:hover {
    background-color: grey;
    color: white;
}

nav ul li:hover {
    background-color: grey;
}

article {
    background-color: black;
    border-top: 1px solid white;
    border-right: 1px solid white;
    grid-area: a;
    text-align: justify;
    font-size: 10px;
    padding: 10px;
}

article h2 {
    font-size: 15px;
}

article img {
    float: left;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: auto;
    margin-right: 25px;
    
}

article ul li {
    padding-right: 10px;
    list-style-type: square;
}

aside {
    grid-area: as;
}

#form {
    display: grid;
    grid-template-areas: "a n"
                        "f f";
}

footer {
    grid-area: f;
    text-align: center;
    background-color: grey;
}